<div>
    <br/>
</div>
<div class="jumbotron">
    <h1>Sweet API</h1>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Get Method</h2>
        <p>One or all entities.</p>
    </div>
    <div class="col-md-3">
        <h2>Post Method</h2>
        <p>You can add entity in database</p>
    </div>
    <div class="col-md-3">
        <h2>Put Method</h2>
        <p>You can modify an existing entity.</p>
    </div>
    <div class="col-md-3">
        <h2>Delete Method</h2>
        <p>You can delete an existing entity.</p>
    </div>
</div>
